.item-list{
    list-style-type: none;
    padding: 0;
    margin-bottom: 40px;
}

.item-list li {
    background: white;
    box-shadow: 0 1px 3px sandybrown;
    padding: 15px;
    color: #333;
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    position: relative;
}

